

#container-header {

    max-height: 10%;

}

#container-user-icon {

    max-height: 20%;
}


#user-icon {
    display: block;
    margin: 0;
    
}

#perfil-contents{

}

#content-user{
    border: 10px #0000ff;
}