

#container-header {

    max-height: 10%;

}

#container-user-icon {

    max-height: 20%;
}


#user-icon {
    display: block;
    margin: 0;
    
}

#perfil-contents{
    background-color: var(--ion-color-azulduoc-shade);
}

#content-user{
}