
<ion-content >
  <ion-header id="container-header" >
    <ion-toolbar>
      <ion-button (click)="GoToMainMenu()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item lines="none" id="user-icon" >
    <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvCEyZSpwmlx3k97J1dXpvDJzpotWLMeNXsw&usqp=CAU"></ion-img>
  </ion-item>
</ion-content>
<ion-content>
  <ion-item>
    <ion-label>Nombre: Esteban Cornejo</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Run: 20.456.362-4</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>email: esteban@gmail.com</ion-label>
  </ion-item>
  
</ion-content>


