<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>
<br>

<ion-content>
  <img id="img-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" alt="">
  <ion-card id="card" display="blockl">
    <ion-card-content id="card-content">
      <div id="container-buttons">
          <ion-input id="input" label="Email" label-placement="floating" fill="outline" placeholder="juanitoperez@gmail.com"type="text" required [(ngModel)]="usuario.email"></ion-input>
          <ion-input id="input" label="Contraseña" label-placement="floating" fill="outline" placeholder="***************"type="password" required [(ngModel)]="usuario.password"></ion-input>
        <ion-row>
          <ion-col>
            <ion-button (click)="login()" type="submit" color="warning" expand="block">Iniciar sesión</ion-button>
            <br>
            <a (click)="GoToRecuperarContra()" class="small-text">¿olvidaste tu contraseña?</a>
          </ion-col>
        </ion-row>
      </div>
  </ion-card-content>
  </ion-card>
</ion-content>
