<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">Bienvenido </ion-item>
</ion-content>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-item>
      <ion-fab-button (click)="scan()" [disabled]="!isSupported">
        <ion-icon name="scan"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-fab>
</ion-content>

<ion-content>
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar id="tab-bar" slot="bottom">
      <ion-tab-button>
        <ion-icon name="calendar" aria-hidden="true" (click)="GoToHorarios()"></ion-icon>
        <ion-label>Horarios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="GoToPerfil()">
        <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button >
        <ion-icon name="information-circle" aria-hidden="true" (click)="GoToAyuda()"></ion-icon>
        <ion-label>Ayuda</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
