<ion-header [translucent]="true">
  <ion-toolbar id="Text-rec">
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item lines="full">
      <ion-input placeholder="juanitoperez@gmail.com"type="text" required [(ngModel)]="usuario.email">Email</ion-input>
    </ion-item>
    <ion-button>Restaurar contraseña</ion-button>


    
  
  </ion-list>


  
</ion-content>
