<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Asistencia Duoc
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content class="auth-form">
  <br>
  <div id="container-button-login">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button id="signup-button" expand="block" shape="round" (click)="GoToLogin()">Iniciar Sesión</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-content id="footer-buttons">
  
</ion-content>
