<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Asistencia Duoc
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content id="container-signup">
  <div style="padding: 50px;">
    <ion-button id="signup-button" expand="block" shape="round" (click)="GoToSignUp()"><ion-icon name="person"></ion-icon>Registrarse</ion-button>
    <br>
    <ion-button id="signup-button" expand="block" shape="round" (click)="GoToLogin()">Iniciar Sesión</ion-button>
  </div>
</ion-content>
<ion-content id="footer-buttons">
</ion-content>
